nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 70, 255);
  position: sticky;
  top: 0;

  -webkit-box-shadow: 0px 8px 20px -15px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 20px -15px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 20px -15px rgba(66, 68, 90, 1);
}

nav .title {
  font-size: 30px;
  margin-left: 15px;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

nav .title span {
  color: yellow;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10x;
  margin: 10px;
  border-radius: 5px;
}
